@use 'tools';

.main-menu {
  display: flex;
  align-items: center;
  gap: 1em;

  a {
    color: var(--color-aquarius-900);
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
  }
}

.slider {
  .slide-arrows {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;

    a {
      background-color: var(--color-aquarius-600);
      color: var(--color-white);
      padding: 0.75em 1em;
    }

    @include tools.desktop {
      justify-content: flex-end;
    }
  }
}

.tags {
  display: flex;
  gap: 1em;
}