@use 'tools';

.main-menu {
  display: flex;
  align-items: center;
  gap: 1em;

  a {
    color: var(--color-aquarius-900);
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
  }
}

.slider {
  .slide-arrows {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em;

    a {
      background-color: var(--color-aquarius-600);
      color: var(--color-white);
      padding: 0.75em 1em;
    }

    @include tools.desktop {
      justify-content: flex-end;
    }
  }
}

.tags {
  display: flex;
  gap: 1em;
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.blog-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 1em;

  nav {
    overflow: hidden;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 1em;
    overflow: auto;

    a {
      color: var(--color-black-pearl-900);
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      display: inline-block;
      white-space: nowrap;
    }
  }
}

.post-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  @include tools.desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}